<section class="container mt-5">
  <h3>Nova Consulta:</h3>
  <form (ngSubmit)="onSubmit()" *ngIf="!loading else loadingIcon" [formGroup]="form">
    <div class="mb-3">
      <label class="form-label" for="medic">Médico: </label>
      <select class="form-select" formControlName="idMedico" id="medic">
        <option *ngFor="let medic of medics" [value]="medic.id">
          {{medic.nome}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="patient">Paciente: </label>
      <select class="form-select" formControlName="idPaciente" id="patient">
        <option *ngFor="let patient of patients" [value]="patient.id">
          {{patient.nome}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="date">Data:</label>
      <input [ngClass]="{'is-invalid': form.controls.data.invalid && form.controls.data.touched}" class="form-control"
             formControlName="data" id="date"
             type="datetime-local">
    </div>
    <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Adicionar</button>
    <button class="btn btn-dark m-2" routerLink="../">Voltar</button>
  </form>
</section>

<ng-template #loadingIcon>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
