<section class="container mt-5">
  <h3>Médicos cadastrados:</h3>
  <div *ngIf="!loading else loadingIcon" class="content">
    <ul class="list-group mt-3">
      <li *ngFor="let medic of medics" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><b>Nome:</b> {{medic.nome | titlecase}}</div>
          <i>Especialidade:</i> {{ getSpecialtyById(medic.idEspecialidade) ? getSpecialtyById(medic.idEspecialidade).nome : "Carregando..."}}
        </div>
        <span><button class="btn btn-warning edit-btn" routerLink="./edit/{{medic.id}}">Editar</button></span>
        <span><button (click)="deleteMedic(medic.id)" class="btn btn-danger">Excluir</button></span>
      </li>
    </ul>
    <button class="btn btn-primary mt-4" routerLink="./new">Novo Médico</button>
  </div>
</section>

<ng-template #loadingIcon>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
