<section class="container mt-5">
  <h3>Novo Médico:</h3>
  <form (ngSubmit)="onSubmit()" *ngIf="!loading else loadingIcon" [formGroup]="form">
    <div class="mb-3">
      <label class="form-label" for="nome">Nome:</label>
      <input [ngClass]="{'is-invalid': form.controls.nome.invalid && form.controls.nome.touched}"
             class="form-control" formControlName="nome"
             id="nome" type="text">
    </div>
    <div class="mb-3">
      <label class="form-label" for="specialty">Especialidade: </label>
      <select class="form-select" formControlName="idEspecialidade" id="specialty">
        <option *ngFor="let specialty of specialties" [value]="specialty.id">
          {{specialty.nome}}
        </option>
      </select>
    </div>
    <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Adicionar</button>
    <button class="btn btn-dark m-2" routerLink="../">Voltar</button>
  </form>
</section>

<ng-template #loadingIcon>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
