<section class="container mt-5">
  <h3>Novo paciente:</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="mb-3">
      <label class="form-label" for="nome">Nome:</label>
      <input [ngClass]="{'is-invalid': form.controls.nome.invalid && form.controls.nome.touched}"
             class="form-control" formControlName="nome"
             id="nome" type="text">
    </div>
    <div class="mb-3">
      <label class="form-label" for="date">Data de Nascimento: </label>
      <input [ngClass]="{'is-invalid': form.controls.dataNascimento.invalid && form.controls.dataNascimento.touched}"
             class="form-control" formControlName="dataNascimento"
             id="date" type="date">
    </div>
    <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Adicionar</button>
    <button class="btn btn-dark m-2" routerLink="../">Voltar</button>
  </form>

</section>
